*.pyc
/dist/
.DS_Store
.idea
/build/
/__pycache__/
/*.egg
/*.egg-info
/log_calls/temp_*.*
log_calls/docs/log_calls-settings.txt
log_calls/docs/log_calls.html
log_calls/docs/readme.html
log_calls/docs/record_history.html
Untitled0.ipynb
.ipynb_checkpoints/history_to_pandas-checkpoint.ipynb
.ipynb_checkpoints/Untitled0-checkpoint.ipynb
log_calls/docs/Untitled0.ipynb
log_calls/docs/.ipynb_checkpoints/history_to_pandas-and-profiling-0.2.4.post5-checkpoint.ipynb
log_calls/docs/.ipynb_checkpoints/history_to_pandas-and-profiling-checkpoint.ipynb
log_calls/docs/.ipynb_checkpoints/history_to_pandas-checkpoint.ipynb
log_calls/docs/.ipynb_checkpoints/profile_wrapper-checkpoint.ipynb
log_calls/docs/.ipynb_checkpoints/Untitled0-checkpoint.ipynb
