/_HIDE/
*.pyc
/dist/
.DS_Store
.idea
/build/
/__pycache__/
/*.egg
/*.egg-info
/log_calls/temp_*.*
docs/log_calls-settings.txt
docs/log_calls.html
docs/readme.html
docs/record_history.html
Untitled0.ipynb
.ipynb_checkpoints/history_to_pandas-checkpoint.ipynb
.ipynb_checkpoints/Untitled0-checkpoint.ipynb
docs/Untitled0.ipynb
docs/.ipynb_checkpoints/history_to_pandas-and-profiling-0.2.4.post5-checkpoint.ipynb
docs/.ipynb_checkpoints/history_to_pandas-and-profiling-checkpoint.ipynb
docs/.ipynb_checkpoints/history_to_pandas-checkpoint.ipynb
docs/.ipynb_checkpoints/profile_wrapper-checkpoint.ipynb
docs/.ipynb_checkpoints/Untitled0-checkpoint.ipynb
