include run_tests.py
include readme.rst
recursive-include docs *
recursive-include tests *
include *.txt

global-exclude Untitled*.ipynb
global-exclude .DS_Store
exclude _HIDE/*
exclude log_calls/_HIDE*
exclude ./.ipynb_checkpoints*

global-exclude */__pycache__/*
